# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnail files
._*

# macOS specific folders
.Spotlight-V100
.Trashes

# Temporary files
*.swp
*.swo

# Python-related
venv/
.env
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

